<!-- ShareThis Script -->
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=674a4ea3276ece0012ce7dc0&product=inline-reaction-buttons&source=platform" async></script>

<!-- Facebook SDK -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v21.0"></script>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg myapp-blurred-header">
    <div class="container-fluid">
        <a class="navbar-brand myapp-geometric" href="/">Arafat's Tech</a>

        <!-- Desktop navigation (visible on lg and up) -->
        <div class="d-none d-lg-flex ms-auto">
          <ul class="navbar-nav d-flex flex-row align-items-center gap-3">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/categories">Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          </ul>
        </div>

                <!-- Modify navbar-toggler button with inline SVG (mobile) -->
                <button class="navbar-toggler myapp-navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#bootstrapSidebar" aria-controls="bootstrapSidebar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon">
                            <!-- Inline hamburger SVG for consistent visibility -->
                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                                <rect y="1" width="22" height="2" rx="1" fill="currentColor" />
                                <rect y="7" width="22" height="2" rx="1" fill="currentColor" />
                                <rect y="13" width="22" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                </button>
    </div>
</nav>
<!-- Blurred Sidebar -->
<div class="offcanvas offcanvas-start myapp-blurred-sidebar" tabindex="-1" id="bootstrapSidebar" aria-labelledby="bootstrapSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="bootstrapSidebarLabel">#Arafat's Tech</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Featured Image -->
        <div class="featured-image">
          <!--  <img src="http://localhost:8080/og/app/sidebar.png" alt="Featured Image" class="img-fluid rounded">-->
        </div>
        <!-- Sidebar Links -->
        <nav class="nav flex-column mt-4">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="https://www.campusflick.arnms.com/admission">Admission info by CampusFlick</a>
           
        </nav>
    </div>
</div>

